<html>
  <head>
    <title>Editer un potin</title>
  </head>
  <body>
    <h1>Editer le potin n°<%= params['id'].to_i%></h1>
    
    <% gossip_found = Gossip.find(params['id'].to_i) %>
    <% author = gossip_found[0] %>
    <% content = gossip_found[1] %>

    <p>
      Son auteur :  <%= author %> </br>
      Son contenu : <%= content %>
    </p>


    <form action='' method='POST'>
      Saisi ici ton nom :  <input type='text' name='gossip_author'/><br/>
      Edit le potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>

    <p>
      <a href="/">Page d'accueil</a>
    </p>
    
  </body>
</html>
